  html {
    background: url(../img/carbon.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "courier new";
  }
  table{
    border-collapse: collapse;
  }
  tr {
    padding: 0;
    margin: 0;
  }
  td {
    vertical-align: middle;
    text-align: left;
    /*border: 1px solid yellow;/*GRID FOR LAYOUT*/
    padding: 0;
    margin: 0;
  }
  h1 {
    font-weight: bold;
    line-height: 0;
  }
  h2 {
    font-weight: 100;
    line-height: 0;
  }
  h3 {
    line-height: 83px;
  }
  i {
    font-size: 34px;
  }
  .all {
    margin: auto;
    color: #F2F2F2;
    background-color: #2E2E2E;
    text-align: center;
  }
  .content {
    background-color: #FF8000;
    text-align: center;
    width: 636px;
    height: 480px;
  }
  .frame {
    width: 18px;
  }
  .align-right {
    text-align: right
  }
  .active {
    color: #FF8000;
  }
  .hover {
    color: #FF8000;
    cursor: pointer;
  }
  .activehover {
    cursor: pointer;
  }
  .on {
    visibility: visible;
  }
  .off {
    visibility: hidden;
  }